<div align="center">
  <form name="getIn" action="/backend/get_me_in" method="post">
    <h1>51Inc Control Center</h1><br/><br/>
    UserName: <input name="user" type="text"/><br/>
    PassWord: <input name="password" type="password"/><br/><br/>
    <input name="login" type="submit" text="Log me In"/>
  </form>
</div>

